<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Vinyl</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                    <li class="breadcrumb-item active">Vinyl</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Vinyl List</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Search">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                    <button type="button" class="btn btn-success btn-circle" routerLink="/vinyl/new">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Artist</th>
                                    <th>Album Name</th>
                                    <th>Vinyl Type</th>
                                    <th width="15%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let vinyl of vinyls | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                    <td>{{vinyl.artistName}}</td>
                                    <td>{{vinyl.albumName}}</td>
                                    <td>{{vinyl.vinylTypeName}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-circle" data-toggle="modal"
                                            data-target="#myModal" (click)="select(vinyl)">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <button type="button" class="btn btn-info btn-circle"
                                            [routerLink]="['/vinyl', vinyl.vinylId]">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-circle" [swal]="deleteSwal" (confirm)="deleteVinyl(vinyl)">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td *ngIf="vinyls?.length === 0">No Data!</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer clearfix">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="myModal" aria-hidden="true" *ngIf="vinyl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{vinyl.artistName}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Album Name: </b> {{vinyl.albumName}}</p>
                <p><b>Vinyl Type: </b> {{vinyl.vinylTypeName}}</p>
                <p><b>Release Date: </b> {{vinyl.albumReleaseDate | date}}</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<swal #deleteSwal title="Are you sure you want to delete vinyl?" icon="warning" [showCancelButton]="true"
    [focusCancel]="true" [swalOptions]="{ confirmButtonText: 'Delete' }">
</swal>
<swal #deleted position='top-end' icon='success' title='Successfully deleted' [showConfirmButton]=false timer=3000 toast=true>
</swal>
<swal #error position="top-end" text="Error! Please check logs" icon='error' [showConfirmButton]=false timer=3000 toast=true>
</swal>