<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Contact</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                    <li class="breadcrumb-item active">Contact</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Contact List</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Search">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Message</th>
                                    <th>Replied</th>
                                    <th width="15%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let contact of contacts | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                    <td>{{contact.senderFullName}}</td>
                                    <td>{{contact.contactBody}}</td>
                                    <td>{{contact.isReplied ? "Yes" : "No"}} </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-circle" data-toggle="modal"
                                            data-target="#myModal" (click)="select(contact)">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <button type="button" class="btn btn-info btn-circle"
                                            [routerLink]="['/contact', contact.contactId]">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-circle">
                                            <i (click)="deleteContact(contact)" class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td *ngIf="contacts?.length === 0">No Data!</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer clearfix">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="myModal" aria-hidden="true" *ngIf="contact">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{contact.senderFullName}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Replied: </b>{{ contact.isReplied ? "Yes" : "No" }}</p>
                <p><b>Date: </b> {{contact.creDate | date}}</p>
                <p><b>Mail Address:</b> {{contact.senderMailAddress}}</p>
                <p><b>Message: </b>{{contact.contactBody}}</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>