<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a><b>uurde</b> Admin</a>
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>  
        <form #loginForm="ngForm" (ngSubmit)="login();">
          <div class="input-group mb-3">
            <input class="form-control" placeholder="User Name" name="userName" type="text" autofocus #userName="ngModel" [(ngModel)]="user.userName">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input class="form-control" placeholder="Password" name="userPassword" type="password" value="" #userPassword="ngModel" [(ngModel)]="user.userPassword">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <!-- <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Remember Me
                </label>
              </div> -->
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
          </div>
        </form>
        <!-- <p class="mb-1">
          <a>I forgot my password</a>
        </p>
        <p class="mb-0">
          <a class="text-center">Register a new membership</a>
        </p> -->
      </div>
    </div>
  </div>
</body>
<swal #succes
position="top-end"
icon="success"
title="Successfully signed in" 
timer="3000" 
toast="true"
[showConfirmButton]="false">
</swal>
<swal #error position="top-end" text="Error on sing in. Please check logs" icon='error' [showConfirmButton]=false timer=3000 toast=true>
</swal>