<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{title}}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="/movie">Movie</a></li>
                    <li class="breadcrumb-item active">{{title}}</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <form #movieForm="ngForm" (ngSubmit)="save();">
                    <input type="hidden" name="movieId" #movieId="ngModel" [(ngModel)]="movie.movieId">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>Movie Name</label>
                            <input type="text" class="form-control" #movieName="ngModel" [(ngModel)]="movie.movieName" name="movieName">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Media Type</label>
                            <br/>
                            <select class="form-control" (change)="selectchange($event)">
                              <option value="0" selected="selected">Select Type</option>
                              <option *ngFor="let movieMediaType of movieMediaTypes" [value]="movieMediaType.movieMediaTypeId">{{movieMediaType.movieTypeName}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline btn-danger pull-right" (click)="cancel()">Cancel</button>
                <button type="submit" class="btn btn-outline btn-success pull-right"
                    style="margin-right: 5px">Save</button>
            </div>
        </div>
    </div>
</section>