<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>IoT Device</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                    <li class="breadcrumb-item active">IoT Device</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">IoT Device List</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Search">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                    <button type="button" class="btn btn-success btn-circle" routerLink="/iot-device/new">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Device Name</th>
                                    <th>Device Type</th>
                                    <th>Device Brand</th>
                                    <th>Device State</th>
                                    <th width="15%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr>
                                          <td colspan="3"><input [(ngModel)]="searchText" placeholder="search text goes here"></td>
                                      </tr> -->
                                <tr *ngFor="let device of devices | paginate: { itemsPerPage: 10, currentPage: p };">
                                  <td>{{device.deviceName}}</td>
                                  <td>{{device.deviceType}}</td>
                                  <td>{{device.deviceBrand}}</td>
                                  <td>{{device.deviceState ? "On" : "Off"}}</td>
                                  <td>
                                    <button type="button" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#myModal" (click)="select(device)">
                                      <i class="fa fa-search"></i>
                                    </button>
                                    <button type="button" class="btn btn-info btn-circle" [routerLink]="['/device', device.deviceId]">
                                      <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-circle">
                                      <i (click)="deleteDevice(device)" class="fa fa-times"></i>
                                    </button>
                                  </td>
                                </tr>
                                <tr>
                                  <td *ngIf="devices?.length === 0">No Data!</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer clearfix">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="myModal" aria-hidden="true" *ngIf="device">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{device.deviceName}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Device Type: </b> {{device.deviceType}}</p>
                <p><b>Device Brand:</b> {{device.deviceBrand}}</p>
                <p><b>Device State: </b> {{device.deviceState ? "On" : "Off"}}</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>