<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="timer" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>IoT Hub</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                    <li class="breadcrumb-item active">IoT Hub</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">IoT Devices</h3>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <tbody>
                                <tr *ngFor="let device of devices">
                                    <td>{{device.deviceName}}</td>
                                    <td align="center">
                                        <bSwitch [switch-on-color]="onColor" [switch-off-color]="offColor" [switch-size]="size" [(ngModel)]="device.deviceState" (ngModelChange)="onFilterChange(device)"></bSwitch>
                                    </td>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer clearfix">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <input type="checkbox" name="my-checkbox" data-bootstrap-switch data-off-color="danger" data-on-color="success" [(ngModel)]="device.deviceState" (ngModelChange)="onFilterChange(device)"> -->