<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{title}}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="/vinyl">Vinyl</a></li>
                    <li class="breadcrumb-item active">{{title}}</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <form #vinylForm="ngForm" (ngSubmit)="save();">
            <div class="card">
                <div class="card-body">
                    <input type="hidden" name="vinylId" #vinylId="ngModel" [(ngModel)]="vinyl.vinylId">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>Artist</label>
                            <input type="text" class="form-control" #artistName="ngModel" [(ngModel)]="vinyl.artistName"
                                name="artistName">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Album Name</label>
                            <input type="text" class="form-control" #albumName="ngModel" [(ngModel)]="vinyl.albumName"
                                name="albumName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>Vinyl Type</label>
                            <br />
                            <select class="form-control" (change)="selectchange($event)">
                                <option value="0" selected="selected">Select Type</option>
                                <option *ngFor="let vinylType of vinylTypes" [value]="vinylType.vinylTypeId">
                                    {{vinylType.vinylTypeName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Release Date</label>
                            <input type="date" class="form-control" #albumReleaseDate="ngModel"
                                [(ngModel)]="vinyl.albumReleaseDate" name="albumReleaseDate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>Cover Photo</label>
                            <input type="text" class="form-control" #albumCoverPath="ngModel"
                                [(ngModel)]="vinyl.albumCoverPath" name="albumCoverPath">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-outline btn-success float-right"
                        style="margin-right: 5px">Save</button>
                    <button type="button" class="btn btn-outline btn-danger float-right"
                        (click)="cancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</section>
<swal #saved position='top-end' icon='success' title='Successfully saved' [showConfirmButton]=false timer=3000
    toast=true>
</swal>
<swal #error position="top-end" text="Error on saving. Please check logs" icon='error' [showConfirmButton]="false"
    timer=3000 toast=true>
</swal>